<!DOCTYPE html>
<html>

<head>
    <title>
        Dashboard page
    </title>
    <meta charset='utf-8' />
    <link rel="apple-touch-icon" sizes="180x180" href="/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/fav/favicon-16x16.png">
    <link rel="manifest" href="/fav/site.webmanifest">
    <link rel="mask-icon" href="/fav/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link href='css/normalize.css' rel='stylesheet' />

    <link href='css/dashboard.css' rel='stylesheet' />
    <meta name="viewport"
        content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>

<body>

    <div class="page page--dashboard">
        <aside class="page_aside aside vertical">
            <div class="text aside_logo">
                Sidebar
            </div>
            <nav class="vertical vertical--small">
                <a href="#" class="nav_button nav_button--active click">
                    <span class="icon nav_button_icon" style="background-image: url('/img/svg/nav/home.svg')"></span>
                    <span class="text text--light">Home</span>
                </a>
            </nav>
            <nav class="vertical vertical--small">
                <a href="#" class="nav_button nav_button--grey click">
                    <span class="icon nav_button_icon" style="background-image: url('/img/svg/nav/orders.svg')"></span>
                    <span class="text text--light">Orders</span>
                </a>
            </nav>
            <nav class="vertical vertical--small">
                <a href="#" class="nav_button nav_button--grey click">
                    <span class="icon nav_button_icon"
                        style="background-image: url('/img/svg/nav/products.svg')"></span>
                    <span class="text text--light">Products</span>
                </a>
            </nav>
        </aside>
        <header class="header">
            <div class="layout header_content text--small">
                <div class="header_search relative">

                    <span class="icon header_search_icon"
                        style="background-image: url('/img/svg/header/search.svg')"></span>
                    <input type="text" placeholder="Search" class="field field_header text">

                    <span class="icon icon_header_setting icon--button icon--color-blue click"
                        style="background-image: url('/img/svg/header/setting.svg')"></span>


                </div>
                <div class="header_todo">

                    <span class="icon header_anten_icon icon--button click"
                        style="background-image: url('/img/svg/header/anten.svg')"></span>

                    <span class="icon header_translate_icon icon--button click"
                        style="background-image: url('/img/svg/header/translate.svg')"></span>

                    <span class="icon header_bell_icon icon--button click"
                        style="background-image: url('/img/svg/header/bell.svg')"></span>

                </div>

            </div>
        </header>
        <main class="main">
            <div class="layout">
                <section class="box analytic_blok">
                    <div class="analytic analytic_double analytic_purple">
                        <span class="icon analytic_button button_purple icon--button click"
                            style="background-image: url('/img/svg/box/order.svg')"></span>
                        <div class="vertical vertical--smal relative">
                            <div class="analytic_title text text--light">$500.00</div>
                            <span class="icon analytic_arrow"
                                style="background-image: url('/img/svg/box/arrow.svg')"></span>

                            <div class="text text--small  text--lightgrey">Total earning</div>
                        </div>

                    </div>

                    <div class="analytic analytic_double analytic_blue">
                        <span class="icon analytic_button button_blue icon--button click"
                            style="background-image: url('/img/svg/box/material.svg')"></span>

                        <div class="vertical vertical--smal relative">
                            <div class="analytic_title text text--bold text--light">$961</div>
                            <div class="text text--small  text--lightgrey">Total Order</div>
                        </div>

                    </div>
                    <div class="analytic_content analytic_blue">
                        <span class="icon analytic_button button_blue icon--button click"
                            style="background-image: url('/img/svg/box/order.svg')"></span>
                        <div class="vertical vertical--smal relative">
                            <div class="analytic_title text text--bold text--light">$203k</div>
                            <div class="text text--small  text--lightgrey">Total Income</div>
                        </div>


                    </div>
                    <div class="analytic_content shop">
                        <span class="icon analytic_button shop_icon icon--button click"
                            style="background-image: url('/img/svg/box/shop.svg')"></span>

                        <div class="vertical vertical--smal relative">
                            <div class="analytic_title text text--bold">$203k</div>
                            <div class="text text--small">Total Income</div>
                        </div>

                    </div>

                </section>
            </div>
            <div class="layout">

                <div class="checkout">
                    <div class="purchase">
                        <p class="text text--heading text_line">Purchase list</p>

                        <div class="purchase_content">
                            <div class="purchase_info text text_line">
                                <div class="info text">
                                    <p class="user_id">ID 437661</p>
                                    <p class="date">May 11, 2023, 14:21</p>
                                </div>
                                <div class="info text">
                                    <p class="article">AirOn ProCam</p>
                                    <p class="type">7/8 USB Type-C</p>
                                </div>
                                <div class="info text">
                                    <p class="price">132.32 EUR</p>
                                    <p class="type_pay_red">Not paid</p>
                                </div>
                                <div class="info text">
                                    <p class="customer">Customer</p>
                                    <p class="email">robin@com.de</p>
                                </div>

                            </div>


                            <div class="purchase_info text">
                                <div class="info text">
                                    <p class="user_id">ID 437661</p>
                                    <p class="date">May 11, 2023, 14:21</p>
                                </div>
                                <div class="info text">
                                    <p class="article">PHILIPS Essential</p>
                                    <p class="type">HD9200/90</p>
                                </div>
                                <div class="info text">
                                    <p class="price">543 USD</p>
                                    <p class="type_pay_success">Pay by Stripe</p>
                                </div>
                                <div class="info text">
                                    <p class="customer">Customer</p>
                                    <p class="email">dima@com.ua</p>
                                </div>

                            </div>
                        </div>

                    </div>


                    <div class="payment">

                        <p class="text text--heading text_line">Payment</p>

                        <form class="payment_rad">
                            <div class="form_check text">
                                <input type="radio" name="rad" checked class="payment_input">Credit card
                            </div>

                            <div class="form_check text">
                                <input type="radio" name="rad" checked class="payment_input">Debit card
                            </div>

                            <div class="form_check text">
                                <input type="radio" name="rad" checked class="payment_input">PayPal
                            </div>
                        </form>


                        <div class="form_card">
                            <div class="vertical vertical--small">
                                <label for="name" class="text">Name on card</label>
                                <input type="text" class="field field_header text">
                            </div>

                            <div class="vertical vertical--small">
                                <label for="name" class="text">Credit card number</label>
                                <input type="text" class="field field_header text">
                            </div>

                        </div>

                        <div class="form_card text_line">
                            <div class="vertical vertical--small">
                                <label for="name" class="text">Expiration</label>
                                <input type="text" class="field field_header text">
                            </div>

                            <div class="vertical vertical--small">
                                <label for="name" class="text">CVV</label>
                                <input type="text" class="field field_header text">
                            </div>

                        </div>


                        <div class="address text_line">
                            <div class="field_blok vertical vertical--small click">
                                <label for="name" class="text">Country</label>
                                <div class="field field--select">

                                    <span class="text">Choose...</span>
                                    <select class="field_select" name="Country" id="1">
                                        <option value="ukr">Ukrain</option>
                                        <option value="usa">USA</option>
                                        <option value="uk">UK</option>
                                        <option value="pl">Polish</option>
                                        <option value="sl">Slovakia</option>
                                        <option value="lv">Litva</option>
                                    </select>
                                </div>
                                <span class="icon select_button_icon"
                                    style="background-image: url('/img/svg/box/select.svg')"></span>
                            </div>

                            <div class="field_blok vertical vertical--small click">
                                <label for="name" class="text">State</label>
                                <div class="field field--select">

                                    <span class="text">Choose...</span>
                                    <select class="field_select" name="State" id="1">
                                        <option value="ukr">Ukrain</option>
                                        <option value="usa">USA</option>
                                        <option value="uk">UK</option>
                                        <option value="pl">Polish</option>
                                        <option value="sl">Slovakia</option>
                                        <option value="lv">Litva</option>
                                    </select>
                                </div>
                                <span class="icon select_button_icon"
                                    style="background-image: url('/img/svg/box/select.svg')"></span>
                            </div>
                        </div>


                        <nav class="vertical vertical--small">
                            <a href="#" class="nav_button nav_button--active centr click">
                                <span class="text text--light ">Continue to checkout</span>
                            </a>
                        </nav>


                    </div>
                </div>

            </div>



        </main>
    </div>

</body>

</html>